global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:9001
    stats uri /haproxy?stats
    default_backend php_backend

backend php_backend
    balance roundrobin
    server php1 php1:9000 check
    server php2 php2:9000 check
    server php3 php3:9000 check

frontend laravel
    bind *:501
    default_backend php_backend
